.header{
	background-image: url(./images/background.jpg);
	height: 890px;
	background-size: contain;
	background-repeat: no-repeat;
}

.link{
	color: white;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
}





.menu{
	display: flex;	
	justify-content: space-between;
	list-style: none;
}
.container{
	display: flex;
	justify-content: space-between;

}
.title{
	color: #ffffff;
	font-size: 40px;
	margin-top: 300 px;
}
.subtitle{
color: #ffffff;
font-size: 15px;
}
.benefits{
	display: flex;
	justify-content: space-between;
	list-style: none;
	color: #ffffff;
	width: 750 px;
	margin: 0 auto;
}
.main{
	background: #a2ca28;
}
.read_more{
	color: #ffffff;
	text-decoration: none;
	font-size: 14 px;
}
.benefits_title{
	font-size: 24 px;

}
.benefits_text{
	font-size: 14 px;
}
.benefits_two{
display: flex;
justify-content: space-between;

}
.title_for{
color: #fd634e;
font-size: 14 px;
margin: 
}
.title_five{
	color: #a2ca28;
	font-size:35 px;
	margin:;
}
.text_promo{
	color: #656e74
	font-size: 14 px;
	margin: 
}
.Read_mo{
	color: #c0da8a;
	font-size: 14 px;
	margin: 
}
.background_div{
	background: #ffffff
	
}

